<div class="w-3 h-screen bg-pink-300" id="sidebar">

<app-sidebar></app-sidebar>

</div>

<div class="w-9 h-auto" id="right-layout-container">

  <button pButton type="button" label="Click" ></button>
<p-button label="Click" ></p-button>

<p-button label="Submit"></p-button>
<p-button label="Link" styleClass="p-button-link"></p-button>

  <div class="w-full bg-pink-200" id="header-menu">

  </div>

  <p-panel header="Extras" >
    Would you like extra cheese on your pizza?
    <button pButton type="button" label="Ok, yeah!"></button>
  </p-panel>
  
  <div id="panel-main-body"></div>
  <div id="footer-menu"></div>
</div>
