<div class="container mt-5" id="sidebar-elements-container">
  <!-- Signed in User Image -->
  <img
    class="img-fluid d-block mx-auto"
    src="https://placeimg.com/500/500/people"
    alt=""
    style="max-width: 50%; border-radius: 50%"
  />

  <!-- Signed in User Info -->
  <div class="container mt-5 mb-4">
    <p class="text-center  mb-1">Signed in as:</p>
    <h4 class="text-center">Serdar Kaya</h4>
  </div>

  <!-- Buttons Container -->
  <div class="container" id="sidebar-buttons-container">
    <a href="" class="btn btn-primary d-block w-50 mx-auto">User List</a>
    <button class="btn btn-success d-block w-50 mx-auto mt-2" id="new-user-button">New User</button>
  </div>

</div>
